/* .student{
    border: 1px solid black;
    width: fit-content;
    margin-bottom: 10px;
}
.student table td,
 .student table th{ 
    border: 1px solid black;
    text-align: left;
    padding: 5px;
}
.student table th{
 width: 100px;
}
.student table{
    width: 300px;
    border-collapse: collapse;
} */